.carousel-container {
  position: relative; /* <-- crucial */
  width: 100%;
  height: 60vh; /* match your swiper height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 60vh;
}

.product-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  background-color: #f3f3f3;
}

/* Custom Buttons */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  color: var(--secondary-color-400);
  background-color: transparent;
  padding: 0;

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.custom-prev:hover,
.custom-next:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: #f0f0f0;
}

.custom-prev > .fa,
.custom-next > .fa {
  height: 3rem;
  width: 3rem;
}

/* Left and right positioning */
.custom-prev {
  left: 10px;
}
.custom-next {
  right: 10px;
}

/* Ensure SVG fits button perfectly */
.custom-prev svg,
.custom-next svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgba(0, 0, 0, 0.35); /* dark overlay */
  padding: 1rem;
}

.day-tag {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.text-center {
  max-width: 70%;
}

.theme-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);

  text-transform: uppercase;

  font-size: 2.2rem;
}

.theme-description {
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);

  font-size: 1.2rem;
}
