.home-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  background-color: transparent;

  gap: 5rem;
}

/* event section */

.home-page > .event-section {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.event-section > .section-header {
  display: flex;
  flex-direction: column;

  width: 100%;

  justify-content: center;
  align-items: center;
}

.section-header > p {
  font-size: 1.3rem;
  color: var(--secondary-color-400);

  font-weight: 500;

  line-height: 22px;

  text-transform: uppercase;
}

.section-header > h1 {
  text-transform: uppercase;
  font-size: 4.5rem;

  font-weight: 900;
  letter-spacing: 3px;
}

.section-header > h1 > span {
  color: #070707;
  font-weight: 400;

  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.showcase-events {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 50vh;
  width: 100%;
  background-color: transparent;

  gap: 1rem;

  margin-top: 40px;
}

.event-section > button {
  padding: 1rem 2rem;

  justify-content: center;
  align-self: center;

  text-transform: uppercase;

  background: transparent;

  border: 1.5px solid var(--text-primary-400);

  transition: background-color 0.3s ease;

  margin-top: 40px;
}

.event-section > button:hover {
  background-color: white;
  color: black;
}

/* services section */
.home-page > .services-section {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 5rem 5rem;
}

.services-section > .section-header {
  display: flex;
  justify-content: space-between;

  width: 100%;

  position: relative;
}

.section-header > .section-header-text {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.section-header-text > p {
  font-size: 1.25rem;
  color: var(--secondary-color-400);
  text-transform: uppercase;

  font-weight: 500;

  line-height: 22px;
}

.section-header-text > h1 {
  font-size: 4.5rem;

  text-transform: uppercase;

  font-weight: 500;

  line-height: 84px;
  letter-spacing: 2.8px;

  width: 60%;
}

.section-header-text > h1 > span {
  color: #070707;
  font-weight: 400;

  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.section-header > button {
  padding: 1.5rem 3rem;

  justify-content: center;
  align-self: center;

  text-transform: uppercase;

  background: transparent;

  transition: background-color 0.3s ease;

  margin-top: 40px;

  background: linear-gradient(
    to right,
    var(--secondary-color-400),
    var(--secondary-color-100)
  );

  white-space: nowrap;

  font-weight: 700;
  font-size: 1.125rem;

  position: absolute;
  right: 0;
  top: 0;
}

.services-section > .showcase-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 4rem;

  margin-top: 60px;

  position: relative;
}

.showcase-services .service-card {
  display: flex;
  flex-direction: column;

  width: 582px;
  height: 350px;

  background-color: var(--primary-color-200);

  padding: 3.5rem 3rem;

  gap: 1.5rem;
}

.service-card > h2 {
  text-transform: uppercase;

  font-weight: 700;

  line-height: 40px;
  letter-spacing: 1.12px;
}

.service-card > p {
  font-size: 1rem;
  line-height: 30px;
}

/*theme section*/
.themes-section {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.themes-section > .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 1rem;

  margin-bottom: 100px;
}

.themes-section > .section-header > p {
  font-size: 1.25rem;
  color: var(--secondary-color-400);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 22px;
}

.themes-section > .section-header > h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
}

.themes-section > .section-header > h1 > span {
  color: #070707;
  font-weight: 400;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

/* reservation section */
.reservation-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 60vh;
}

.reservation-section > .image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container > .bg-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;
}

.image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;

  height: 100%;

  text-align: center;
  background: rgba(0, 0, 0, 0.3);

  gap: 2rem;
}

.image-overlay > button {
  padding: 1.2rem 5rem;

  text-transform: uppercase;

  background-color: var(--primary-color-400);

  font-size: 1.2rem;
}

/* subscription section */
.subscription-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 60vh;

  /* Moving gradient */
  background: linear-gradient(-45deg, #ff0f83, #bc31f7, #ff0f83, #bc31f7);
  background-size: 600% 600%; /* bigger ensures no white edges */
  background-repeat: no-repeat; /* do not tile */

  animation: gradientShift 12s ease infinite;

  min-height: 60vh;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.subscription-overlay {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  padding: 4rem 7rem;
}

.subscription-overlay-intro {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.subscription-overlay-intro > h1 {
  font-size: 3rem;
  line-height: 55px;
  letter-spacing: 2px;
}

.subscription-overlay-intro > P {
  font-size: 1rem;
  line-height: 26px;

  width: 80%;
}
.subscription-overlay > form {
  display: flex;
  flex-direction: column;

  width: 562px;
  height: 415px;

  padding: 2rem 1.5rem;

  gap: 1.5rem;
}

.subscription-overlay > form .form-group {
  display: flex;
  flex-direction: column;
}

.form-group > label {
  text-transform: uppercase;
  font-size: 1rem;
}

.form-group > input {
  width: 503px;
  height: 44px;

  border-radius: 2px;

  border: none;
}

.subscription-overlay > form > button {
  width: 100px;
  padding: 0.8rem 4rem;

  color: var(--primary-color-400);

  font-size: 1rem;
}

/*contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  position: relative;
}

.contact-section > .image-container {
  display: flex;

  position: relative;
  width: 100%;
  height: 100%; /* fills 60vh of parent */
  overflow: hidden;
}

.contact-section > .image-container > .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-section > .image-container > .image-overlay {
  position: absolute; /* overlay on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.section-intro {
  display: flex;
  flex-direction: column;

  gap: 3rem;

  text-transform: uppercase;
}

.section-intro > h2 {
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.section-intro > .heading {
  font-size: 54px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: 2.16px;
}

.section-intro > .heading > span {
  color: #070707;
  font-weight: 400;

  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.cta {
  display: flex;
  gap: 2rem;
}

.cta > button {
  background-color: var(--primary-color-400);

  padding: 1.5rem 3rem;

  background: linear-gradient(
    to right,
    var(--secondary-color-400),
    var(--secondary-color-100)
  );

  font-weight: 700;
  font-size: 1.125rem;
}

.cta > .diff {
  background: transparent;

  border: 1px solid var(--text-primary-400);

  transition: background-color 0.3s ease-in;
}

.cta > .diff:hover {
  color: black;
  background-color: var(--text-primary-400);
}

.contact-overlay {
  display: flex;
  flex-direction: column;

  width: 40vw;

  gap: 2rem;

  background-color: var(--primary-color-200);

  position: absolute;
}

.contact-overlay > .individual-contact {
  display: flex;
  align-items: center;

  gap: 1rem;

  color: var(--text-primary-400);

  font-size: 1.2rem;

  font-weight: 700;

  line-height: 40px;
  letter-spacing: 1.12px;
}
.contact-overlay > .individual-contact > .fa {
  width: 30px;
  height: 32px;
}

@media (max-width: 768px) {
  .event-section {
    height: 90vh;
  }
  .section-header > h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2.2rem;
  }

  .showcase-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 0rem 1.2rem;
  }

  .event-section > button {
    margin-top: 160px;
  }

  .home-page > .services-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 5rem 1rem;
  }

  .services-section > .section-header {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 30vh;
  }

  .section-header > button {
    padding: 1.2rem 3rem;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -100px;
  }

  .section-header > .section-header-text {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .section-header-text > h1 {
    font-size: 2.2rem;

    font-weight: 500;

    line-height: 45px;

    width: 90%;
  }

  .services-section > .showcase-services {
    display: flex;
    flex-direction: column;
  }

  .showcase-services .service-card {
    display: flex;
    flex-direction: column;

    width: 360px;
    height: 380px;
  }

  .image-overlay {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }

  .image-overlay > button {
    /* padding: 1.2rem 5rem; */

    padding: 1.2rem 5rem;
    width: 300px;
    font-size: 1.2rem;

    white-space: nowrap;
  }

  .themes-section {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  .themes-section > .section-header {
    display: flex;
    flex-direction: column;
  }

  .themes-section > .section-header > p {
    font-size: 1.1rem;
  }

  .themes-section > .section-header > h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    word-break: keep-all; /* prevents breaking words awkwardly */
    white-space: normal; /* allows proper wrapping */
  }

  .themes-section > .section-header > h1 > span {
    display: inline; /* keeps span text inline rather than breaking */
  }
}

.subscription-section {
  height: 80vh;
}

.subscription-overlay {
  display: flex;
  flex-direction: column;

  padding: 2rem 1rem;
}

.subscription-overlay-intro {
  width: 100%;
}

.subscription-overlay-intro > h1 {
  display: flex;
  width: 100%;

  font-size: 1.8rem;

  white-space: nowrap;
}

.subscription-overlay-intro > p {
  width: 100%;
}

.subscription-overlay > form {
  display: flex;
  flex-direction: column;

  width: 362px;

  padding: 2rem 0rem;
}

.form-group > input {
  width: 350px;
  height: 44px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130vh;
  position: relative;
}

.contact-section > .image-container {
  display: flex;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-section > .image-container > .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-section > .image-container > .image-overlay {
  position: absolute; /* overlay on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.section-intro {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  text-transform: uppercase;
}

.section-intro > h2 {
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.section-intro > .heading {
  font-size: 2rem;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 2.16px;
}

.section-intro > .heading > span {
  color: #070707;
  font-weight: 400;

  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.cta {
  display: flex;
  flex-direction: column;

  padding: 1.3rem;
  gap: 1rem;
}

.cta > button {
  background-color: var(--primary-color-400);

  padding: 1rem 2rem;

  background: linear-gradient(
    to right,
    var(--secondary-color-400),
    var(--secondary-color-100)
  );

  font-weight: 700;
  font-size: 1.125rem;
}

.cta > .diff {
  background: transparent;

  border: 1px solid var(--text-primary-400);

  transition: background-color 0.3s ease-in;
}

.cta > .diff:hover {
  color: black;
  background-color: var(--text-primary-400);
}

.contact-overlay {
  display: flex;
  flex-direction: column;

  width: 90%;
  padding: 2.5rem 1.5rem;

  gap: 2rem;

  background-color: var(--primary-color-200);

  position: absolute;
  bottom: 20px;
}

.contact-overlay > .individual-contact {
  display: flex;
  align-items: center;

  gap: 1rem;

  color: var(--text-primary-400);

  font-size: 1.2rem;

  font-weight: 700;

  line-height: 40px;
  letter-spacing: 1.12px;
}
.contact-overlay > .individual-contact > .fa {
  width: 30px;
  height: 32px;
}
