.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;
}

.video-overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.video-overlay > h1 {
  font-size: 5rem;
  line-height: 1;

  width: 90%;
  text-transform: uppercase;
}

.video-overlay > button {
  margin-top: 30px;
  padding: 1.5rem 1.8rem;

  background: linear-gradient(
    to right,
    var(--secondary-color-400),
    var(--secondary-color-100)
  );

  font-weight: 700;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .video-overlay > h1 {
    font-size: 2.2rem;

    width: 100%;
  }

  .video-overlay > button {
    padding: 1.2rem 8rem;
  }
}
