.event-card {
  display: flex;

  height: 380px;
  width: 304px;
}

.event-card > img {
  display: flex;
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.event-card:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .event-card {
    display: flex;

    height: 280px;
    width: 180px;
  }
}
