@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Excon";
  src: url("../fonts/Excon-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
